= content_for :footer_script do
  = google_maps_script("Maps.reviewsList")
#map-fixed-container
      #map-canvas data-lat=current_city.lat data-lng=current_city.lng style='height:300px;width: 300px'

