log/*
solr/*
tmp/*
*.sql
# Ignore all logfiles and tempfiles.
/log/*
/tmp
/public/uploads
/public/assets
/public

.idea/
/.zeus.sock
/solr
/config/sunspot.yml
/config/database.yml
/db/*.sql
nohup.out
/public/uploads
/public/sitemaps
.data/*
db/*.sqlite*
.bundle/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
/db/buildings/*/*.csv
*~*

/uploads
dump.rdb
redis-stable/*
db/schema.rb
