$('#modalMessage').html("<h1 style='text-align: center; padding-top: 50px; padding-bottom: 50px; font-family: Gilroy Extrabold; color: #262d3f'><i class='fa fa-check-circle' style='color: #28d8d8'></i> Message Sent</h1>")
