.container-fluid.center style="background: black;"
  script async=true src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ins [
    class="adsbygoogle"
    style="display: inline-block;
      width: 908px;
      height: 80px;
      padding: 5px;"
    data-ad-client="ca-pub-2336842535313539"
    data-ad-slot="7365828808"
  ]

  script
   | (adsbygoogle = window.adsbygoogle || []).push({});
