.download-app-bg 
  = image_tag 'download_app.png', style: 'height: 553px; width: 320px'
  = link_to '', 'https://itunes.apple.com/us/app/cityspade/id873629059?mt=8' , style: 'position:absolute;height: 44px;width: 220px;z-index: 10;display:block;left: 50px;top: 125px'
  = link_to '', params[:redirect_to]||'/', style: 'position:absolute;height: 30px;width: 220px;z-index: 10;display:block;left: 55px;top: 175px'
