<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <div>
      <h3>Message Info:</h3>
      <p>Name: <%= @info[:Name] %></p>
      <p>Email: <%= @info[:Email] %></p>
      <p>Phone: <%= @info[:Phone] %></p>
      <p>Message: <%= @info[:Message] %></p>
    </div>
  </body>
</html>

