<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="word-wrap: break-word; white-space: pre-line;">
	<p style="font-size:18px;margin-top:0;max-height:70px;">
		<%= @body %>
	</p>
	<p style="font-size:18px;">
		<%= @description %>
	</p>
	</div>
<body>
