h1 Editing building
//h2
  //= link_to 'Click Here Set Ralate Listing', relate_listings_admin_building_path(@building)
== render 'form'
= link_to 'Show', @admin_building
'|
= link_to 'Back', admin_buildings_path
