= content_for :footer_script do
	= google_maps_script('Maps.roomShowMap')

#js-room data ={address: "#{@room.street_address}", lat: "#{@room.lat}", lng: "#{@room.lng}"}
#map-canvas style="height: 300px;"
